.global {
    --element-color: #00bd7a;
    --element-color-transparent: rgba(0, 189, 122, 0.4);
    --element-color-glow: rgba(0, 189, 122, 0.6);
    --transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    --dark-color: #292929;
    --light-color: rgb(245, 245, 245);
}

.dark {
    --color: #F5F5F5;
    --background: #292929;
    --background-element: #424242;
    --background-transparent: #2c2c2ccc;
    --shadow: rgba(25, 25, 25, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(100%) sepia(55%) saturate(23%) hue-rotate(236deg) brightness(108%) contrast(92%);
    --background-glass: rgba(41, 41, 41, 0.7);
    --shadow-soft: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.light {
    --color: #151515;
    --background: rgb(245, 245, 245);
    --background-element: #c2c2c2;
    --background-transparent: rgba(204, 204, 204, 0.8);
    --shadow: rgba(208, 208, 208, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(1719%) hue-rotate(357deg) brightness(94%) contrast(84%);
    --background-glass: rgba(245, 245, 245, 0.7);
    --shadow-soft: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
}